.highlight{
  background-color: #66ff33 !important;
}

.total{
  font-size: 1.4em;
}

body{
  background-image:url('/assets/img/pool-table.jpg');
  background-size:cover;
  color:#000;
}

#contain{
  padding-top:60px;
}

/************************
NAV
************************/
/*TOP NAV*/
nav ul {
  display:block;
  position:fixed;
  width:100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgba(100,100,100,0.4);
  /*background-color: #22aa55;*/
  /*background-color: #333;*/
  z-index:100;
}

nav li {
  float: left;
  color: #22aa55;
}

nav li a {
  display: block;
  color:#ededed;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #22aa55;
  color:#111;
}

/*SIDE NAV*/
#side-nav ul {
  margin-top:50px;
  display:block;
  list-style-type: none;
  /*margin: 0;*/
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  height:100%;
  position:fixed;
  overflow: hidden;
  z-index:10;
}

#side-nav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
#side-nav li a:hover {
  background-color: #555;
  color: white;
}

/************************
END NAV
************************/


@media(max-width: 480px) {
    /* For mobile phones: */
    .mobile-hide{
      display:none;
    }
}